{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        
    </h3>
    <p>
        Добро пожаловать на экспериментальную сессию. Вам предстоит принять ряд решений,
        и Вы получите возможность заработать деньги. То, сколько Вы заработаете,
        будет зависеть как от Ваших решений, так и от решений других участников.
        Поэтому очень важно, чтобы Вы внимательно прочитали данные инструкции. 
Деньги, которые будут Вам положены по итогам эксперимента, будут выплачены Вам наличными в конце экспериментальной сессии.
</p>
    <p>
Ваши решения, так же, как и Ваши результаты, являются анонимными.
Никто из участников не сможет узнать, кто именно из других участников принимал те или иные решения ни в течение,
ни после экспериментальной сессии. Мы гарантируем конфиденциальность Ваших решений, и будем анализировать их только в обезличенном виде.
</p>
    <p>
Эти инструкции предназначены только для Вашего личного использования. На протяжении всей экспериментальной сессии Вам запрещено общаться с другими участниками.
В случае нарушения этого правила Вы можете быть удалены из эксперимента и лишитесь всех денег, полагающихся за игру.
В случае если у Вас возникнут какие-либо вопросы, поднимите, пожалуйста, руку. Мы подойдем к Вашему рабочему месту и ответим на Ваши вопросы в индивидуальном порядке.
</p>
    <p>
Во время эксперимента мы не будем пользоваться рублями, а будем использовать Experimental Currency Units (ECU, условные денежные единицы эксперимента).
Это значит, что Ваш итоговый результат изначально будет подсчитан в ECU. В конце экспериментальной сессии этот результат в ECU будет переведен в рубли по следующему курсу:
    </p>
    <p>
    1ECU = 5 рублей
    </p>
    <p>
В дополнение Вы получите плату за участие в размере 150 рублей, которая не зависит от результатов экспериментальной сессии. 
В конце сессии каждый участник получит свои деньги в индивидуальном порядке.
</p>
    <p>
Участники данной экспериментальной сессии случайным образом разделены на две группы. Каждый из вас окажется в одной из групп,
и будет случайным образом объединен в пару с другим участником эксперимента. Вы не будете знать, кто этот участник, так же, как и он не будет знать, кто Вы.
Участник из одной из групп будет обозначаться на экране как Участник А, из другой — как Участник Б. Состав вашей пары и эти роли не будут меняться на протяжении всей сессии.
Прежде чем приступить к эксперименту, все вы узнаете свои роли.
</p>
    <p>
Есть ли у вас вопросы?
</p>
    <p>
Эта игра состоит из десяти раундов, в каждом из которых каждый из вас играет в одной из двух ролей:
    кто-то из вас окажется в роли Участника А, кто-то в роли Участника Б. Прежде чем приступить к эксперименту, все вы узнаете свои роли.
После того как роли определены, оба участника получают в свое распоряжение начальную сумму в 10 ECU.
</p>
    <p>
Каждый раунд состоит из двух этапов.
</p>
    <p>
На первом этапе Участник А должен будет принять решение о том, какую долю из начальной суммы в 10 ECU он передает Участнику Б,
а какую оставляет себе. Это может быть 0 ECU, половина начальной суммы, вся начальная сумма или любая другая ее доля.
Каждый ECU, оставленный себе, приносит Участнику А по одному ECU в конце раунда. Каждый ECU, переданный Участнику Б,
умножается на множитель. Множитель определяется случайным образом в каждом раунде и может с равной вероятностью принимать любые значения от 1 до 10
(с точностью до двух знаков после запятой). Значение множителя в каждом раунде известно Участнику Б, и неизвестно Участнику А
{% if group.treatment == 'Y' %}
   вплоть до конца раунда. Если ваша роль – Участник А, то в конце каждого раунда Вы увидите информацию о том,
какой был множитель в данном раунде, сколько денег в итоге получил Участник Б и сколько он передал Вам.               
                 {% endif %}
Например, если в раунде 1 Участник А передал 5 ECU Участнику Б, а множитель оказался равен 2, то Участник Б будет знать, что получил в свое распоряжение 5х2=10 ECU. 
</p>
    <p>
На втором этапе Участник Б узнает, сколько ECU ему передал Участник А и сколько ECU есть у него в распоряжении.
Теперь участник 2 принимает решение о том, сколько ECU из этого числа он оставляет себе,
а сколько возвращает Участнику А, те 10 ECU, которые были у Участника Б неприкосновенны, они не могут быть переданы Участнику А.
Каждый ECU оставленный у себя Участником Б, приносит 1 ECU Участнику Б.
Каждый ECU, переданный Участнику А, приносит 1 ECU этому участнику.
В том же примере, если из 10 ECU, которые оказались у Участника Б,
он вернет 6 ECU Участнику А, то у Участника А будет всего 5+6=11 ECU, а у Участника Б останется 10+15-6 = 19 ECU, и т.п. 
</p>
    <p>
В общем случае, доход Участника А формируется следующим образом:
    </p>
    <p>
<i> Число ECU, оставленных у себя на первом этапе + число ECU, возвращенных Участником Б на втором этапе,</i>
</p>
    <p>
а доход Участника Б — следующим образом:
    </p>
    <p>
<i>10 ECU + (Число ECU, переданных Участником  А на первом этапе) х (множитель) — число ECU, возвращенное Участнику А на втором этапе <i>
</p>
    <p>
Передавать разрешается любые суммы в ECU. Если какие-то суммы не совпадут, программа выдаст предупреждение и не пропустит участников дальше.
</p>
    <p>
В каждом раунде Участник А принимает решение о том, сколько ECU он передаст Участнику Б.
</p>
    <p>
В каждом раунде Участник Б принимает решение о том, сколько ECU Участник А передаст  Участнику Б.
</p>
    <p>
Ваш суммарный выигрыш в данной игре формируется как общая сумма доходов в каждом раунде. Вы будете получать обновленную информацию о Вашем суммарном выигрыше в конце каждого раунда.

        
    </p>
</div>
</div>
