{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Инструкция для участника экспериментальной сессии
{% endblock %}

{% block content %}



    <div class="card bg-light instructions">
        <div class="card-body">

            <h3>

            </h3>
            <p>
                Добро пожаловать на экспериментальную сессию. Вам предстоит принять ряд решений,
                и Вы получите возможность заработать деньги. То, сколько Вы заработаете,
                будет зависеть как от Ваших решений, так и от решений других участников.
                Поэтому очень важно, чтобы Вы внимательно прочитали данные инструкции.
                Деньги, которые будут Вам положены по итогам эксперимента, будут выплачены Вам наличными в конце
                экспериментальной сессии.
            </p>
            <p>
                Ваши решения, так же, как и Ваши результаты, являются анонимными.
                Никто из участников не сможет узнать, кто именно из других участников принимал те или иные решения ни в
                течение,
                ни после экспериментальной сессии. Мы гарантируем конфиденциальность Ваших решений, и будем
                анализировать их
                только в обезличенном виде.
            </p>
            <p>
                Эти инструкции предназначены только для Вашего личного использования. На протяжении всей
                экспериментальной
                сессии Вам запрещено общаться с другими участниками.
                В случае нарушения этого правила Вы можете быть удалены из эксперимента и лишитесь всех денег,
                полагающихся
                за игру.
                В случае если у Вас возникнут какие-либо вопросы, поднимите, пожалуйста, руку. Мы подойдем к Вашему
                рабочему
                месту и ответим на Ваши вопросы в индивидуальном порядке.
            </p>
            <p>
                Во время эксперимента мы не будем пользоваться рублями, а будем использовать Experimental Currency Units
                (ECU, условные денежные единицы эксперимента).
                Это значит, что Ваш итоговый результат изначально будет подсчитан в ECU. В конце экспериментальной
                сессии
                этот результат в ECU будет переведен в рубли по следующему курсу:
            </p>
            <p>
                1ECU = 5 рублей
            </p>
            <p>
                В дополнение Вы получите плату за участие в размере 150 рублей, которая не зависит от результатов
                экспериментальной сессии.
                В конце сессии каждый участник получит свои деньги в индивидуальном порядке.
            </p>
            <p>
                Участники данной экспериментальной сессии случайным образом разделены на две группы. Каждый из вас
                окажется
                в одной из групп,
                и будет случайным образом объединен в пару с другим участником эксперимента. Вы не будете знать, кто
                этот
                участник, так же, как и он не будет знать, кто Вы.
                Участник из одной из групп будет обозначаться на экране как Участник А, из другой — как Участник Б.
                Состав
                вашей пары и эти роли не будут меняться на протяжении всей сессии.
                Прежде чем приступить к эксперименту, все вы узнаете свои роли.
            </p>
            <p>
                Есть ли у вас вопросы?
            </p>

        </div>
    </div>
    {% formfields %}

    {% next_button %}

{% endblock %}
