{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ваша роль: Участник Б
{% endblock %}

{% block content %}
<p>

    Участник А передал Вам <strong>{{group.sent_amount}}</strong>, после чего эта сумма умножилась на <strong>{{ subsession.multiplier }}</strong>.
    Сейчас у Вас есть <strong>{{tripled_amount}}</strong>.
    Сколько ECU Вы передадите Участнику А?
</p>

    {% formfield group.sent_back_amount label=prompt %}
    <p>{% next_button %}</p>
    {% include 'trustgame/includes/instructions_wrapper.html' %}

{% endblock %}
