<p>
    Эта игра состоит из десяти раундов, в каждом из которых каждый из вас играет в одной из двух ролей:
    кто-то из вас окажется в роли Участника А, кто-то в роли Участника Б. Прежде чем приступить к эксперименту, все вы
    узнаете свои роли.
    После того как роли определены, оба участника получают в свое распоряжение начальную сумму в {{ Constants.endowment }}.
</p>
<p>
    Каждый раунд состоит из двух этапов.
</p>
<p>
    На первом этапе Участник А должен будет принять решение о том, какую долю из начальной суммы
    в {{ Constants.endowment }} он передает
    Участнику Б,
    а какую оставляет себе. Это может быть 0 ECU, половина начальной суммы, вся начальная сумма или любая другая ее
    доля.
    Каждый ECU, оставленный себе, приносит Участнику А по одному ECU в конце раунда. Каждый ECU, переданный Участнику Б,
    умножается на множитель. Множитель определяется случайным образом в каждом раунде и может с равной вероятностью
    принимать любые значения от 1 до {{ Constants.endowment }}
    (с точностью до двух знаков после запятой). Значение множителя в каждом раунде известно Участнику Б, и неизвестно
    Участнику А
    {% if group.treatment == 'Y' %}
        вплоть до конца раунда. Если ваша роль – Участник А, то в конце каждого раунда Вы увидите информацию о том,
        какой был множитель в данном раунде, сколько денег в итоге получил Участник Б и сколько он передал Вам.
    {% endif %}
    Например, если в раунде 1 Участник А передал 5 ECU Участнику Б, а множитель оказался равен 2, то Участник Б будет
    знать, что получил в свое распоряжение 5х2=10 ECU.
</p>
<p>
    На втором этапе Участник Б узнает, сколько ECU ему передал Участник А и сколько ECU есть у него в распоряжении.
    Теперь Участник 2 принимает решение о том, сколько ECU из этого числа он оставляет себе,
    а сколько возвращает Участнику А, те 10 ECU, которые были у Участника Б неприкосновенны, они не могут быть переданы
    Участнику А.
    Каждый ECU, оставленный у себя Участником Б, приносит 1 ECU Участнику Б.
    Каждый ECU, переданный Участнику А, приносит 1 ECU этому участнику.
    В том же примере, если из 10 ECU, которые оказались у Участника Б,
    он вернет 6 ECU Участнику А, то у Участника А будет всего 5+6=11 ECU, а у Участника Б останется 10+10-6 = 14 ECU, и
    т.п.
</p>
<p>
    В общем случае, доход Участника А формируется следующим образом:
</p>
<p>
    <i> Число ECU, оставленных у себя на первом этапе + число ECU, возвращенных Участником Б на втором этапе,</i>
</p>
<p>
    а доход Участника Б — следующим образом:
</p>
<p>
    <i>10 ECU + (Число ECU, переданных Участником А на первом этапе) х (множитель) — число ECU, возвращенное Участнику А
        на втором этапе <i>
</p>
<p>
    Передавать разрешается любые суммы в ECU. Если какие-то суммы не совпадут, программа выдаст предупреждение и не
    пропустит участников дальше.
</p>
<p>
    В каждом раунде Участник А принимает решение о том, сколько ECU он передаст Участнику Б.
</p>
<p>
    В каждом раунде Участник Б принимает решение о том, сколько ECU Участник А передаст Участнику Б.
</p>
<p>
    Ваш суммарный выигрыш в данной игре формируется как общая сумма доходов в каждом раунде. Вы будете получать
    обновленную информацию о Вашем суммарном выигрыше в конце каждого раунда.


</p>
